CrudCSharp/Program.cs
CrudCSharp/obj/Debug/net8.0/CrudCSharp.GeneratedMSBuildEditorConfig.editorconfig
CrudCSharp/obj/Debug/net8.0/CrudCSharp.AssemblyInfoInputs.cache
CrudCSharp/obj/Debug/net8.0/CrudCSharp.AssemblyInfo.cs
CrudCSharp/CrudCSharp.csproj.user
CrudCSharp/appsettings.json
CrudCSharp/.vs/CrudCSharp/v17/DocumentLayout.json
CrudCSharp/.vs/CrudCSharp/v17/DocumentLayout.backup.json
CrudCSharp/.vs/CrudCSharp/v17/.suo
CrudCSharp/.vs/CrudCSharp/FileContentIndex/5323ef49-ca57-4238-97cc-f684964504f3.vsidx
